version: "3.8"

services:
  embedding_service:
    build: .
    image: ghcr.io/ajianaz/embedding-service:latest
    container_name: embedding_service
    ports:
      - "5001:5001"
    volumes:
      - .:/app  # Sinkronisasi folder `app` dengan container
    environment:
      - WORKERS=1
    command: ["sh", "-c", "gunicorn -w ${WORKERS:-2} -b 0.0.0.0:5001 app.embedder:app"]